.banner {
  background-image: url('../../public/Images/banner.jpg');
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.bannerOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 8px;
}

.banner h1 {
  font-size: 2.5rem;
  margin: 0;
}

.banner p {
  font-size: 1.2rem;
  margin: 0;
}
