.propertyTypesSection {
  padding: 1% 2% 5% 2%;
  background-color: #f9f9f9;
}

.propertyTypesContainer {
  /* position: relative; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.propertyType {
  position: relative;
  border-radius: 1.5em;
  width: calc(33.333% - 5px);
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.propertyType:hover{
  transform: translateY(-5px);
}

.propertyTypeImage {
  border-radius: 1.5em;
  object-fit: cover;
}

.propertyTypeInfos {
  position: absolute;
  background-color: white;
  padding: 1em 2em;
  border-radius: 2em;
  bottom: 6.5em;
}

.propertyType:hover .propertyTypeInfos{
  background-color: rgb(71 85 105);
  color: white;
}

.propertyTypeTitle {
  font-size: 1.2rem;
}

.propertyTypeDescription {
  font-size: 0.8rem;
}

.PropertyTypeText{
  margin-top: 5em;
  padding: 2%;
}

@media (max-width: 768px) {
  .propertyType {
    width: calc(90% - 10px);
  }
}
